@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Raleway' !important;
  background-color: rgb(31, 53, 88) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',

    monospace;
}
h1{
  font-size: 20px !important;
}
.flex-container{
  display: flex ;
  background-color: rgb(255, 255, 255);
}
.btn{
  background-color: rgb(133, 95, 64) !important;
  box-shadow: #696969;
  color: antiquewhite;
}

select{
  box-shadow: none;
  border-color: rgb(116, 116, 116) !important;
}

.fa-plus-square{
  color: #f1eedf;
  margin: 5px;
}
.fa-minus-square{
  color: #e2e3e2;
  margin: 5px !important;
}
.cartitem{
  background-color:  rgb(39, 59, 91);
  border-color: #122e11 !important;
  border-radius: 20px;
  border-width: 2px;
  padding: 35px;
  margin: 20px;
  display: flex;
  box-shadow: rgb(183, 183, 183), 5px;
  color: rgb(220, 220, 220);
  font-size: 15px;
}
.cart{
  background-color: rgb(255, 255, 255)!important;
  padding: 10px;
  background-blend-mode: darken;

}
.nav{
  position: fixed;
}
.navbar{
  background-color: rgb(255, 255, 255);
  position: fixed;

}

.row{
  height: 100px;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #f4efea;
    border: none;
    border-radius: 0;
    position: fixed;
    
    position: fixed!important;
    display: flex ;
    z-index: 100;
    width: 100%;
    
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    margin-top: 0px;
    margin-top: 56px;
   
}

#sidebar {
    min-width: 280px;
    max-width: 250px;
    background: rgb(31, 53, 88);
    color: #000000;
    transition: all 0.3s;
    margin-left:0px ;
    position: fixed;
    height: 700px;
    
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #ffffff;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #ffffff;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
   
}

#sidebar ul li a {
    padding: 20px;
    font-size: 1.em;
    display: block;
    align-self: start;
    color: #ffffff;
    align-items: start;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.4em !important;
    padding-left: 0px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

/* ----------------------------------- image transparency*/
/*
source
http://stackoverflow.com/a/23935891/3853728
*/

.img-gradient{
  .gradient-custom {
    /* fallback for old browsers */
    background: #fa709a;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(250,112,154,0.5), rgba(254,225,64,0.5));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(250,112,154,0.5), rgba(254,225,64,0.5))
  }
}

.search-n-grid {
  position: relative;
  width: 100%;
  margin-left: 290px;

}

.container {
  position: fixed;
  
  top: 70px; /* Distance from the top */
  margin-left: 500px;
  padding-bottom: 50px;
  background: linear-gradient(
    to bottom,
     /* Dark blue at the top with 80% opacity */
    rgba(0, 0, 139, 0),
    rgba(21, 29, 67, 0.5) /* Fully transparent at the bottom */
  );
  
  color: #ffffff;
width: 50px;
  border: none;
  border-radius: 8px;
  
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.5); /* Black shadow */
  z-index: 2; /* Ensure it's above the grid */
  outline: none;
}

/*.form-control{
  margin-left: 250px;
  height: 50px;
  position: fixed;
  margin-bottom: 90px;
  margin-top: 30px;

}*/

.lete{
  font-weight: 200;
  font-size: 4.0em;
  margin-top: 30px;
 
}

.btn-serch{
  margin-left: 200px;
}

.custom-margin {
  margin-left: 1000px;
  margin-top: 40px;
}